
samples/build-videoplayer-Android_for_armeabi_v7a_GCC_4_9_Qt_5_10_0_for_Android_armv7-Debug/.qmake.stash
.qmake.stash
.vs/cliplearning/v14/.suo
cliplearning.pro.user
*.user
cliplearning.pro.user
cliplearning.pro.user.a43e71b
cliplearning.pro.user
cliplearning.vcxproj

debug

GeneratedFiles

cliplearning.pro.user
samples

release